input {
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}
#login-div {
  position: fixed;
  left: 50%;
  margin-left: -10em;
  top: 50%;
  margin-top: -1em;
}
#loginName {
  width: 20em;
  height: 2em;
  margin: 0.5em;
  /*.hcenter(-0.5 * @input-width);*/
  /*.vcenter(-1.5 * @input-height);*/
}
#loginPassword {
  width: 20em;
  height: 2em;
  margin: 0.5em;
  /*.hcenter(-0.5 * @input-width);*/
  /*.vcenter(0.5 * @input-height);*/
}
#loginHint {
  margin: 0.5em;
}
