


.border-radius (@radius: 0.5em) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}

.hcenter(@offset: 0em) {
  left: 50%;
  margin-left: @offset;
}


.vcenter(@offset: 0em) {
  top: 50%;
  margin-top: @offset;
}



input {
  .border-radius
}

