

@import "common.less";


@input-width: 20em;
@input-height: 2em;

#login-name {
  position: fixed;
  width: @input-width;
  height: @input-height;
  .hcenter(-0.5 * @input-width);
  .vcenter(-1.5 * @input-height);
}



#login-password {
  position: fixed;
  width: @input-width;
  height: @input-height;
  .hcenter(-0.5 * @input-width);
  .vcenter(0.5 * @input-height);
}


